---
import Section from "./Section.astro";
import type { ExperienceProps } from "@types";
import { t } from "../locales";
import ExperienceItem from "./ExperienceItem.astro";

interface Props {
  experience: ExperienceProps[];
  lang: "fr" | "en";
}

const { experience, lang } = Astro.props;
const localizedExperience = t(lang).experience.items;
---

<Section text={t(lang).experience.title} href="experience">
  {
    localizedExperience.map((item, index) => (
      <ExperienceItem
        company={item.company}
        position={item.position}
        startDate={item.dates}
        endDate={experience[index].endDate}
        summary={item.summary}
        lang={lang}
      />
    ))
  }
</Section>
