---
import { Image } from "astro:assets";
import { t } from "../locales";

interface Props {
  name: string;
  summary: string;
  image: string;
  linkSource?: string;
  linkPreview?: string;
  index: number;
  lang: "fr" | "en";
}

const { name, summary, image, linkSource, linkPreview, index, lang } =
  Astro.props;
const top = 98 + index * 40;
const labels = t(lang).projects; // { title, source, preview, items }
---

<div
  style={`top: ${top}px;`}
  class="sticky mb-12 rounded-2xl border border-neutral/20 bg-black"
>
  <div
    class="bg-difu relative z-[1] grid h-[580px] w-full grid-rows-2 rounded-2xl bg-[#1c232d]/85 before:absolute before:inset-0 before:z-[-1] before:rounded-2xl before:bg-[url(/raja.png)] before:bg-[length:128px] before:bg-repeat before:opacity-[5%] before:content-[''] sm:grid-cols-2 sm:grid-rows-1 md:h-96"
  >
    <div class="px-6 pt-12">
      <h3 class="mb-5 font-serif text-3xl font-medium text-primary">
        {name}
      </h3>
      <p class="text-base text-neutral">{summary}</p>
      <div class="flex gap-5 pt-10 text-white">
        {
          linkSource && linkSource !== "/" ? (
            <a
              href={linkSource}
              target="_blank"
              class="after:relative after:bottom-[-5px] after:content-[url(/external.svg)] hover:underline"
            >
              {labels.source}
            </a>
          ) : (
            <span class="cursor-not-allowed opacity-50">{labels.source}</span>
          )
        }

        {
          linkPreview && linkPreview !== "/" ? (
            <a
              href={linkPreview}
              target="_blank"
              class="after:relative after:bottom-[-5px] after:content-[url(/external.svg)] hover:underline"
            >
              {labels.preview}
            </a>
          ) : (
            <span class="cursor-not-allowed opacity-50">{labels.preview}</span>
          )
        }
      </div>
    </div>
    <div class="flex items-end justify-end overflow-hidden">
      <Image
        class="h-full w-[95%] rounded-ss-xl rounded-ee-2xl object-none object-left-top sm:h-[85%] sm:w-full"
        src={image}
        alt={name}
        width="736"
        height="483"
      />
    </div>
  </div>
</div>
