---
import Header from "@components/Header.astro";
import "@fontsource/be-vietnam-pro";
import "@fontsource-variable/gabarito";
import { SITE_CONFIG } from "@config";
import Footer from "@components/Footer.astro";
import Analytics from "@vercel/analytics/astro";
import { t } from "../locales";
import Contact from "@components/Contact.astro";
const lang = Astro.url.pathname.startsWith("/en") ? "en" : "fr";

const { siteLogo, navLinks, author, socialLinks } = SITE_CONFIG;
---

<!doctype html>
<html lang={lang} class="scroll-pt-16 scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={t(lang).site.description} />
    <meta name="author" content={author} />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{t(lang).site.title}</title>

    <meta property="og:title" content={t(lang).site.title} />
    <meta property="og:description" content={t(lang).site.description} />

    <script>
      (function (h, o, t, j) {
        h.hj =
          h.hj ||
          function () {
            if (!h.hj) return;
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 6485478, hjsv: 6 };
        var a = o.getElementsByTagName("head")[0];
        var r = o.createElement("script");
        r.async = true;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>
  <body class="bg-[#08101a] font-sans">
    <Header lang={lang} siteLogo={siteLogo} navLinks={navLinks} />
    <main class="mx-auto max-w-3xl px-5">
      <slot />
    </main>
    <Contact lang={lang} />
    <Footer author={author} socialLinks={socialLinks} lang={lang} />
    <Analytics />
  </body>
</html>
